.Add {
  background-color: #ffffff;
  height: 200px;
  border-bottom: 2px solid black;
   border-radius: 20px; 
   border: 2px solid rgb(178, 178, 230);
  margin-top: 20px; 
  } 
.Add h3 {
  text-align: center; 
  font-size: 24px; color: #333; } 
.fields_row{ 
  display: flex; 
  justify-content: space-around;
  width: 90%; } 

.fields_row label { 
  margin-bottom: 5px; 
  font-weight: 500; 
  color: #555; 
  text-align: center; 
  margin-right: 5px; } 
.fields_row input,.fields_row select,
 .fields_row button { 
  padding: 8px 12px;
  border-radius: 8px; 
  border: 1px solid #ccc;
  
  font-size: 14px;
  width: 150px;
  box-sizing: border-box;
  transition: 0.3s all; } 
.fields_row button{ background-color: rgb(9, 219, 86); }
 .fields_row input:focus, .fields_row select:focus
 { outline: none; 
  border-color: #007bff;
   box-shadow: 0 0 5px rgba(0, 123, 255, 0.3); }
 /* Адаптив для мобильных */ 
 @media (max-width: 768px){
  .Add{
    height: 300px;
    width: 90%;
    margin-left: 10px;
  }
  .fields_row { 
  flex-direction: column; 
   align-items: center; }
   .fields_row input{
    width: 200px;
   margin-bottom: 10px;
   }
 .fields_row div, .fields_row button {
 width: 80%; 
 margin-bottom: 10px;
 
 } 
}