/* Контейнер списка расходов */
.con {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  margin-left: 10px;
 
}
.con_1 {
  background-color: #f4f4f4;
  padding: 15px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
   margin-bottom: 20px;
}

.con_1:hover {
  transform: translateY(-3px);
}

/* Левая часть карточки (название, категория, дата) */
.con_1 div:first-child h4 {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}

.con_1 div:first-child p {
  margin: 2px 0;
  font-size: 0.9rem;
  color: #666;
}
.con_2 {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.con_2 strong {
  font-size: 1rem;
  color: #222;
}
.con_2 button {
  margin-top: 8px;
  padding: 5px 12px;
  background-color: #039137;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}
/* Сообщение "No expenses yet" */
.p {
  text-align: center;
  font-style: italic;
  color: #999;
  margin-top: 20px;
}
